@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&family=Sofia+Sans+Extra+Condensed:ital,wght@0,1..1000;1,1..1000&display=swap');
#root {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #e0e0e0;
  margin: 0;
  font-family: 'Montserrat', sans-serif;
}

.App {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(180deg, #b2c5b2 0%, #3c5148 100%);
  color: #111827;
}

.title-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;;

  min-width: 400px;
  padding: 20px 50px;
  border: none;
  border-radius: 50px;

  background: linear-gradient(180deg, #e6ef9e 0%, #7ec64b 75%); /* Adjusted gradient from your image */

  box-shadow: 
    0 8px 20px rgba(0,0,0,0.2),
    0 0 30px rgba(135,88,241,0.3);

  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
}

.title-button:hover {
  transform: translateY(-3px);
  box-shadow: 
    0 12px 25px rgba(0,0,0,0.3),
    0 0 40px rgba(135,88,241,0.5);
}

.top-text {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.9em; 
  font-weight: 200; /* Bold */
  letter-spacing: 2px;
  text-transform: uppercase;
  margin-bottom: 5px;
  color: #333;
}

.main-text {
  font-family: 'Dancing Script', cursive;
  font-size: 5em;
  font-weight: 700;
  line-height: 1;
  color: #222;
}